/*configuraciones globales*/

*{
    box-sizing: border-box;
}

ul, ol {
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    margin: 0;
    background-color: aliceblue;
}


footer {
    /* margin-top: 500px; */
    background-color: blueviolet;
    text-align: end;
    
    padding: 10px 40px;
    color: #000;
    bottom: 0;
    width: 100%;
}

